<style>
  body{
          background-image: url('/ASSETS/imgs/plane.png');
          background-repeat: no-repeat;
      background-size: 80%;
       
  }
  #ii{
    height: 220px;
    width: 170px;
  }
 #mylogo{
   padding-left: 1320px;
   padding-top: 0px;
   
 }
 #two{
   width: 1200px;
   height: 500px;
   padding-top: 500px;
   
 }
 h4{
  font-size: xx-large;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
</style>
<body>
  <a class="btn-floating btn-large waves-effect waves-light red" href="/agent/Panel"><img src="/ASSETS/icons/back.png" alt=""></a>
 
  <div id="mylogo">
    <h5>A Project Of:</h5>
     <img src="/ASSETS/imgs/mylogo.jpg" alt="" id="ii">
  </div>
  <div id="two">
    <h1>Our Vision</h1>
    <h4>Our vision is to facilitate customers to visit a travel agency from home. This application contains everything that a travel agency offers. It also allows a travel agency to increase its business at global scale.</h4>
    <h1>Objectives</h1>
    <h4>Our main objectives are to continuously provide enjoyable quality excursions/trips on time and on budget. Develop enthusiastically satisfied customers all of the time. Establish a market presence that assures short-term and long-term profitability, growth and success.</h4>
  </div>
</body>