<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize.min.css">
    <link href="/adminS.css" rel="stylesheet" type="text/css">
    <title>Travel Agency Database</title>
</head>

<body>
    <a class="btn-floating btn-large waves-effect waves-light back" href="/admin/SignIn"><img
            src="/ASSETS/icons/back.png" alt=""></a>
           
    <div id="adminPanel">
        <div id="sideBar">
            <a href="/admin/Panel">
                <div class="sideBarIcon">
                    <img src="/ASSETS/icons/revenue.png" alt="">
                </div>
                <b> <p style="color: white;">My Stats</p></b>

            </a>
            <a href="#">
                <div class="sideBarIcon">
                    <img src="/ASSETS/icons/agent.png" alt="">
                </div>
                <b> <p style="color: white;">Traveler Side</p></b>

            </a>
            <a href="#">
                <div class="sideBarIcon">
                    <img src="/ASSETS/icons/traveler.png" alt="">
                </div>
                <b> <p style="color: white;">Agent Side</p></b>

            </a>
            <a href="/admin/logout" class="btn btn-secondary">Logout</a>
        </div>
      

        <div id="adminTravelerPanel">
            <h1>Stats And Details</h1>
            <div class="gotoButtons">
                <a class="waves-effect waves-light btn-large" id="gotoAdmin" href="/hotel.route/all">Goto Hotels</a>
                <a class="waves-effect waves-light btn-large" id="gotoAgent" href="/flight.route/all">Goto Flights</a>
                <a class="waves-effect waves-light btn-large" id="gotoTraveler" href="/bus.route/all">Goto Buses</a>
                <a class="waves-effect waves-light btn-large" id="gotoAdmin" href="/resturant.route/all">Goto Resturants</a>
                <a class="waves-effect waves-light btn-large" id="gotoAgent" href="/student.route/all">My Travelers</a>
                <a class="waves-effect waves-light btn-large" id="gotoTraveler" href="/myagents.route/all">My Agents</a>
            </div> 
        </div>

        <script src="/ASSETS/Chart.min.js"></script>
        <script src="/materialize.min.js"></script>
        <script>
           
        </script>

       
</body>

</html>