<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/materialize.min.css">
  <link rel="stylesheet" href="/ASSETS/fontAwesome/css/all.css">
  <link rel="stylesheet" href="/styles.css">
  <title>Travel Agency Database</title>
</head>

<body>
  <div id="adminSignIn">
    <a class="btn-floating btn-large waves-effect waves-light back" href="/"><img src="/ASSETS/icons/back.png"
        alt=""></a>
    <div id="adminSignInSide">
    </div>
    <div id="adminSignInForm">
      <br><br><br>
      <h2 class="siginname toWhiteAdmin">Sign In to Your Account</h2>
      <form method="POST" action="/admin/SignIn" class="row signinforminside">
       
        <div class="row mt-5">
              
              <% include ./partials/messages %>
              <form action="/admins/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
              <br>
              <p class="lead mt-4">
                No Account? <a href="/admin/SignUp">Register</a>
              </p>
            </div>
          </div>
        </div>
        
                        
    </div>
    <script src="/materialize.min.js"></script>

</body>

</html>
