<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize.min.css">
    <link rel="stylesheet" href="/ASSETS/fontAwesome/css/all.css">
    <link rel="stylesheet" href="/agent.css">
    <title>Agent Sign In</title>
</head>

<body>
    <a class="btn-floating btn-large waves-effect waves-light red" href="/"><img src="/ASSETS/icons/back.png"
            alt=""></a>

    <div id="agentSignIn">
      
        <div id="agentSignInSide">
            <img src="/ASSETS/imgs/agnet.png" alt="">
        </div>
        <br>
            <div class="col-md-6 m-auto">
              <br>
              <br><br><br>
              <div >
                <h1 ><i class="fas fa-sign-in-alt"></i>  Login</h1>
                <% include ./partials/messages %>
                <form action="/agent/SignInScreen" method="POST" class="row signinforminside">
                  <div >
                    <label style="color: black;" for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      placeholder="Enter Email"
                    />
                  </div>
                  <div class="form-group">
                    <label style="color: black;" for="password">Password</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter Password"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <p class="lead mt-4">
                  No Account? <a href="/agent/SignUp">Register</a>
                </p>
              </div>
            </div>
          </div>
          
    </div>
    
</body>

</html>