<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Traveler Panel</title>
</head>

<body>
    <div class="forBackRegister">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/agent/Panel"><img
                src="/ASSETS/icons/back.png" alt=""></a>
        <br><br><br>
        <div class="regForm">
            <h3>Edit My Details</h3>
            <form action="/agent/Detail" method="POST" class="row regFormInside">      
                <div class="input-field col s12">
                    <label for="FName">First Name</label>
                    <input id="FName" type="text" value="" name="FName" class="validate">
                </div>
                <div class="input-field col s12">
                    <input id="LName" type="text" value="" name="LName" class="validate">
                    <label for="LName">Last Name</label>
                </div>
                
                <div class="input-field col s12">
                    <input id="Location" type="text" value="" name="Location" class="validate">
                    <label for="Location">Location</label>
                </div>
                <div class="input-field col s12">
                    <input id="Flight" type="text" value="" name="Flight" class="validate">
                    <label for="Flight">Flight</label>
                </div>
                <div class="input-field col s12">
                    <input id="Hotel" type="text" value="" name="Hotel" class="validate">
                    <label for="Hotel">Hotel</label>
                </div>
                <div class="input-field col s12">
                    <input id="Bus" type="text" value="" name="Bus" class="validate">
                    <label for="City">Bus</label>
                </div>
                <div class="input-field col s12">
                    <input id="Resturant" type="text" value="" name="Resturant" class="validate">
                    <label for="Country">Resturant</label>
                </div>
                <div class="input-field col s12">
                    <input id="PhoneNo" type="number" name="PhoneNo" value="" required class="validate">
                    <label for="phone">Phone no</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" value="" required class="validate">
                    <label for="email">Email ID</label>
                </div>
               
                <button class="waves-effect waves-light btn-large signinbutton" type="submit"
                    href="/agent/Detail">Submit</button>
            </form>
        </div>
        <br><br><br>

    </div>
    <script src="/materialize.min.js"></script>
 

</body>

</html>