<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./materialize.min.css">
    <link rel="stylesheet" href="/agent.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Agent Panel</title>
</head>

<body>
    <a class="btn-floating btn-large waves-effect waves-light red" href="/agent/SignInScreen"><img src="/ASSETS/icons/back.png" alt=""></a>
    <div class="agentBackground">
        <div class="agentPanel">
            <h2>Select an Option</h2>
            <div>
                <a href="/agent/Services" class="agentOptions">
                    <img src="/ASSETS/imgs/services.png" alt="">
                    <h2>Services</h2>
                </a>
                <a href="/agent/Locations" class="agentOptions">
                    <img id="adminPT" src="/ASSETS/imgs/traveller.png" alt="">
                    <h2>Show Locations</h2>
                </a>
                <a href="/agent/Detail" class="agentOptions">
                    <img src="/ASSETS/imgs/owl.png" alt="">
                    <h2>My Details</h2>
                </a>

            </div>

        </div>
        <a href="/agent/mail" style="padding-right: 275px;"  class="btn btn-secondary">Offers</a>
        <a href="/agent/contact" style="padding-right: 270px;"  class="btn btn-secondary">Contact Us</a>
        <a href="/agent/logout" style="padding-right: 275px;" class="btn btn-secondary">Logout</a>
        <a href="/agent/logout" style="padding-right: 275px;" class="btn btn-secondary">Forget Password</a>
    </div>

</body>

</html>