<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize.min.css">

    <link href="/agent.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/agent/Panel"><img
            src="/ASSETS/icons/back.png" alt=""></a>
        <h2 id="selectAService">Select A Service</h2>
    <div class="servicesBG">
        <a href="/agent/flight" class="agentSOptions">
            <img id="agentP" src="/ASSETS/imgs/plane.png" alt="">
            <h2>Show Flights</h2>
        </a>
        <a href="/agent/hotel" class="agentSOptions">
            <img src="/ASSETS/imgs/hotel.png" alt="">
            <h2>Show Hotels</h2>
        </a>

        <a href="/agent/bus" class="agentSOptions">
            <img src="/ASSETS/imgs/bus.png" alt="">
            <h2>Show Buses</h2>
        </a>
        <a href="/agent/resturaunt?id=-9" class="agentSOptions">
            <img src="/ASSETS/imgs/restu.png" alt="">
            <h2>Show Resturaunts</h2>
        </a>
    </div>
    <script src="/materialize.min.js"></script>
</body>

</html>