<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Agent Form</title>
</head>

<body>
    <div class="forBackRegister">
       <a class="btn-floating btn-large waves-effect waves-light red" href="/users/tPanel"><img
                src="/ASSETS/icons/back.png" alt=""></a>
        <br><br><br>
        <div class="regForm">
            <h3>Edit Job Details</h3>
            <form action="/users/Detail" method="POST" class="row regFormInside">      
                <div class="input-field col s12">
                    <label for="FName">First Name</label>
                    <input id="FName" type="text" value="" name="FName" class="validate">
                </div>
                <div class="input-field col s12">
                    <input id="LName" type="text" value="" name="LName" class="validate">
                    <label for="LName">Last Name</label>
                </div>
                
                <div class="input-field col s12">
                    <input id="Country" type="text" value="" name="Country" class="validate">
                    <label for="Location">Your Country</label>
                </div>
                <div class="input-field col s12">
                    <input id="City" type="text" value="" name="City" class="validate">
                    <label for="City">Your City</label>
                </div>
                <div class="input-field col s12">
                    <input id="Education" type="text" value="" name="Education" class="validate">
                    <label for="Hotel">Education</label>
                </div>
                <div class="input-field col s12">
                    <input id="Rank" type="text" value="" name="Rank" class="validate">
                    <label for="City">Experince (Or Beginner)</label>
                </div>
                
                <div class="input-field col s12">
                    <input id="PhoneNo" type="number" name="PhoneNo" value="" required class="validate">
                    <label for="phone">Phone no</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" value="" required class="validate">
                    <label for="email">Email ID</label>
                </div>
                <div class="input-field col s12">
                  <input id="Area" type="text" value="" name="Area" class="validate">
                  <label for="Country">For Which Area Do You Want To Work?</label>
              </div>
                <button class="waves-effect waves-light btn-large signinbutton" type="submit"
                    href="/users/Detail">Submit</button>
            </form>
        </div>
        <br><br><br>

    </div>
    <script src="/materialize.min.js"></script>
 

</body>

</html>