<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <title>Create your account</title>
</head>

<body>
  <a class="btn-floating btn-large waves-effect waves-light red" href="/agent/SignInScreen"><img
      src="/ASSETS/icons/back.png" alt=""></a>

  <div class="travelerSignInScreen">
    <div class="sideImgSignIn">
      <h2>Traveler SignUp</h2>
      <img id="signupside" src="/ASSETS/imgs/plane.png" alt="IMG">
    </div>
    <div class="input-field signInForm">

      <div >
        <div >
          <div >
            <h1 class="text-center mb-3">
             
            </h1>
            <% include ./partials/messages %>
            <form action="/agent/SignUp" method="POST" class="row signinforminside">
              <div class="form-group">
                <label style="color: black;" for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
                <label style="color: black;" for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
              <div class="form-group">
                <label style="color: black;" for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />
              </div>
              <div class="form-group">
                <label style="color: black;" for="password2">Confirm Password</label>
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </form>
            <br>
            <p class="lead mt-4">Have An Account? <a href="/agent/SignInScreen">Login</a></p>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
 
    </script>
</body>

</html>