<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <a class="btn-floating btn-large waves-effect waves-light red" href="/users/tPanel"><img src="/ASSETS/icons/back.png" alt=""></a><br><br><br><br>

          <marquee behavior="" direction="" style="background-color: red; color: white; font-size: x-large; width: 100%;" >No New Job Available / Stay Tuned For Latest Updates</marquee>
          <h2><b>Job </b>Opportunities</h2>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th style="font-size: xx-large;">Rank</th>
          <th class="col-sm-8" style="font-size: xx-large;">Job Area</th>
        </tr>
      </thead>
      <tbody>
        <% if(typeof students != 'undefined'){ %> <%
        students.forEach(function(student) { %>
        <tr>
          <td><%= student.roll%></td>
          <td><%= student.name%></td>
        </tr>
        <% }); %> <% } %>
      </tbody>
    </table>
  </div>
</div>
