<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Edit My details</title>
</head>

<body>

    <body>
        <div class="forBackRegister">
            <a class="btn-floating btn-large waves-effect waves-light red" href="/users/Panel"><img
                    src="./ASSETS/icons/back.png" alt=""></a>
            <br><br><br>

            <div class="regForm">
                <h3>Edit My details Form</h3>
                <form method="POST" class="row regFormInside">
                    <div class="input-field col s12">
                        <input id="FName" type="text" name="fname" "
                            class="validate">
                        <label for="FName">First Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="LName" type="text" name="lname" "
                            class="validate">
                        <label for="LName">Last Name</label>
                    </div>
                   
                    <button class="waves-effect waves-light btn-large signinbutton" type="submit">Save
                        Edit</button>
                </form>
            </div>
        </div>
        <script src="./materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems);
            });
        </script>

    </body>

</html>