

<div>
    <video autoplay muted loop id="myVideo">
        <source src="/ASSETS/imgs/video.mp4" type="video/mp4">
    </video>
    <div id="mainDiv">
        <div>
            <img src="/ASSETS/imgs/logoT.png" alt="">
            <h1 id="title">Travel Agency</h1>
            <div class="gotoButtons">
            <a class="waves-effect waves-light btn-large" id="gotoAdmin" href="/admin/SignIn">Goto Admin Portion</a>
            <a class="waves-effect waves-light btn-large" id="gotoTraveler" href="/agent/SignInScreen">Goto Traveler Portion</a>
            <a class="waves-effect waves-light btn-large" id="gotoAgent" href="/users/SignInScreen">Goto Agent Portion</a>
        </div>  
        </div>

        <img id="downDesign" src="/ASSETS/imgs/downDesign.png" alt="">
        <div id="subject">
            <h1>Enterprise Application Project</h1>
        </div>
        
        <div id="credits">
            <h2>Submitted By: </h2>
            <h3>Syed Hasnain Raza BSIT-F17-LC-016</h3>
            <h3>Nasira Idress     BSIT-F17-LC-035</h3>
            <h3>Amjad Muneer      BSIT-F17-LC-070</h3>
           
        </div>
    </div>
</div>
