<!DOCTYPE html>
<html lang="en">

<head>
   
    <style>
      body{
        background-image: url('/ASSETS/imgs/moneyBack.png');
        width: 100%;
        height:100%;
        background-repeat: no-repeat;
      }
      h1{
        padding-left: 1010px;
      }
    </style>
</head>
<body>
  <a class="btn-floating btn-large waves-effect waves-light red" href="/agent/Panel"><img src="/ASSETS/icons/back.png" alt=""></a>
<h1>Coming Soon</h1>
 <img src="/ASSETS/imgs/agnet.png" alt="" height="550px" >


</body>