<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="materialize.min.css">
    <link rel="stylesheet" href="/ASSETS/fontAwesome/css/all.css">
    <link href="/agent.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <a class="btn-floating btn-large waves-effect waves-light red " href="/agent/Services"><img
            src="/ASSETS/icons/back.png" alt=""></a>
    <div id="adminTravelerPanel">
        <h1>Resturaunt</h1>
        
        <div class="servicesBG">
            <a href="/agent/flight" class="agentSOptions">
                <img id="agentP" src="/ASSETS/imgs/r1.jpg" alt="">
                <h2>Pakistani Food</h2>
            </a>
            <a href="/agent/flight" class="agentSOptions">
                <img src="/ASSETS/imgs/r2.jpg" alt="">
                <h2>Chinies Food</h2>
            </a>
    
            <a href="/agent/flight" class="agentSOptions">
                <img src="/ASSETS/imgs/r3.jpg" alt="">
                <h2>Italian Food</h2>
            </a>
        </div>
    </div>

    <script src="/materialize.min.js"></script>
   
</body>

</html>