<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/materialize.min.css">
  <link rel="stylesheet" href="/ASSETS/fontAwesome/css/all.css">
  <link rel="stylesheet" href="/styles.css">
  <title>Sign In to your account</title>
</head>

<body>
  <a class="btn-floating btn-large waves-effect waves-light red" href="/"><img src="/ASSETS/icons/back.png" alt=""></a>

  <div  class="travelerSignInScreen">
    <div class="sideImgSignIn">
      <h2>Agent SignIn</h2>
      <img src="/ASSETS/imgs/signinside.png" alt="IMG">
    </div>
    <div class="input-field signInForm">
      
      <form method="POST" class="row signinforminside">
        <div class="col s1" style="margin-top: 30px;">
        </div>
          <div >
            <div >
              <h1 ></h1>
              <% include ./partials/messages %>
              <form action="/users/login" method="POST" class="row signinforminside"> 
                <div>
                  <br>
                  <br><label style="color: black;">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"
                  />
                </div>
                <div class="form-group">
                  <label style="color: black;" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
              <br>
              <p class="lead mt-4">
                No Account? <a href="/users/SignUpScreen">Register</a>
              </p>
            </div>
          </div>
        </div>
        
        </form>
       
    </div>

</div>

</body>
</html>