<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traveler Panel</title>
    <link rel="stylesheet" href="/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <div id="travelerPanel">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/users/SignInScreen"><img
                src="/ASSETS/icons/back.png" alt=""></a>

        <h1 id="travelpanelname"></h1>
        <div class="TravelerPanel">
        
            <a class="optionsTravelerPanel" href="/users/selectTheTripD">
                <img src="/ASSETS/icons/show.svg" alt="">
                <h2>Show my details</h2>
            </a>
            <a class="optionsTravelerPanel" href="/users/editDetails">
                <img src="/ASSETS/icons/edit.svg" alt="">
                <h2>Edit my details</h2>

            </a>
            <a class="optionsTravelerPanel" href="/users/deleteConfirmation">
                <img src="/ASSETS/icons/delete.svg" alt="">
                <h2>Delete my account</h2>
            </a>
        </div>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>

    </div>
</body>

</html>