<div class="container">
  <h1>Flight Detail</h1>
  <h4>Flight Number:</h4>
  <%=flight.roll %>
  <br />
  <h4>Flight Name:</h4>
  <%=flight.name %>

  <br />
  <br />
  <a href="/flight.route/all" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
