<div class="container">
  <h1>Flights Detail</h1>
  <h4>Number:</h4>
  <%=flight.no %>
  <br />
  <h4>Name:</h4>
  <%=flight.name %>

  <br />
  <br />
  <a href="/admin/fall" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
