<div class="container">
  <h1>Resturant Detail</h1>
  <h4>Resturant Number:</h4>
  <%=resturant.roll %>
  <br />
  <h4>Name:</h4>
  <%=resturant.name %>

  <br />
  <br />
  <a href="/resturant.route/all" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
