<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <h2><b>Agents </b>List</h2>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Agent Email</th>
          <th class="col-sm-8">Name</th>
        </tr>
      </thead>
      <tbody>
        <% if(typeof agents != 'undefined'){ %> <%
        agents.forEach(function(agent) { %>
        <tr>
          <td><%= agent.email%></td>
          <td><%= agent.name%></td>
        </tr>
        <% }); %> <% } %>
      </tbody>
    </table>
  </div>
</div>
