<div class="container">
  <h1>Add a New Bus</h1>
  <form action="/bus.route/add" method="POST">
    <div class="form-group">
      <label for="roll">Bus Number</label>
      <input
        type="text"
        class="form-control"
        id="roll"
        name="roll"
        placeholder="Number"
      />
    </div>
    <div class="form-group">
      <label for="name">Bus Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Name"
      />
    </div>
    <input type="submit" name="submit" value="Add" class="btn btn-success" />
  </form>
</div>
