<div class="container">
  <h1>Bus Detail</h1>
  <h4>Bus Number:</h4>
  <%=bus.roll %>
  <br />
  <h4>Bus Name:</h4>
  <%=bus.name %>

  <br />
  <br />
  <a href="/bus.route/all" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
