<div class="container">
  <h1>Buses Detail</h1>
  <h4>Number:</h4>
  <%=bus.no %>
  <br />
  <h4>Name:</h4>
  <%=bus.name %>

  <br />
  <br />
  <a href="/admin/ball" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
