<div class="container">
  <h1>Hotels Detail</h1>
  <h4>Hotel Number:</h4>
  <%=hotel.no %>
  <br />
  <h4>Name:</h4>
  <%=hotel.name %>

  <br />
  <br />
  <a href="/admin/hall" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
