<div class="container">
  <h1>Add a New </h1>
  <form action="/flight.route/add" method="POST">
    <div class="form-group">
      <label for="roll">flight Number</label>
      <input
        type="text"
        class="form-control"
        id="roll"
        name="roll"
        placeholder="Roll Number"
      />
    </div>
    <div class="form-group">
      <label for="name">Flight Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Name"
      />
    </div>
    <input type="submit" name="submit" value="Add" class="btn btn-success" />
    <button href="flight.rote/all" value="list"></button>
  </form>
</div>
