<div class="container">
  <h1>Traveler Detail</h1>
  <h4>Traveler Emil:</h4>
  <%=student.email %>
  <br />
  <h4>Name:</h4>
  <%=student.name %>

  <br />
  <br />
  <a href="/myagents.route/all" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
